@(daftarKoleksi: List[models.daoapriori.DBTableDefinitions.SetBarang], user: models.User)(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader)

@main("Koleksi", Some(user)) {
  <div class="container">
    <h1>Lx: @daftarKoleksi.length </h1>
    @if(daftarKoleksi.length > 0){
      <a href="@routes.AprioriController.itemset(daftarKoleksi.head.koleksi + 1)">Lanjut Sini</a>
    }else{
      <a href="@routes.AprioriController.asosrule">Generate Rule</a>
    }
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Set Barang</th>
          <th>Tingkat Koleksi</th>
          <th>Kejadian Pembelian</th>
        </tr>
      </thead>
      <tbody>
      @for(transaksi <- daftarKoleksi) {
        <tr>
          <td>{ @transaksi.daftar }</td>
          <td>@transaksi.koleksi</td>
          <td>@transaksi.support</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
}
