@(barangBarang: List[models.daotransaksi.DBTableDefinitions.Barang], user: models.User)(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader)

@main("Listing barang", Some(user)) {
    <div class="container">
        <h1>barang: @barangBarang.length </h1>
        <a href="@routes.BarangController.tambah()" class="btn btn-primary">Tambah Barang</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Barang</th>
                    <th>Nama Barang</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
            @for(barang <- barangBarang) {
                <tr>
                    <td>@barang.idbarang</td>
                    <td>@barang.nabarang</td>
                    <td>@barang.habarang</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

