@(daftarRule: List[List[models.DataRule.Akhir2]], user: models.User)(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader)

@main("Rule", Some(user)) {
  <div class="container">
    <h1>Jumlah Barang pada Paket: @daftarRule.length </h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Kecenderungan pembelian paket</th>
          <th>setelah membeli paket</th>
          <th>Adalah</th>
        </tr>
      </thead>
      <tbody>
      @for(rule <- daftarRule) {
        @for(rul <- rule){
          <tr>
            <td>( @rul.besar )</td>
            <td>( @rul.kecil )</td>
            <td>@rul.konfidensi</td>
          </tr>
        }
      }
      </tbody>
    </table>
  </div>
}
