@(barangForm: Form[models.daoapriori.DBTableDefinitions.Barang], user: models.User)(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader)

@import helper._

@main("Add a new User", Some(user)) {
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Add a new User</h1>
      @form(routes.BarangController.simpan()) {
        @inputText(barangForm("namaBarang"))
        @inputText(barangForm("hargaBarang"))
        <button type="submit" class="btn btn-primary">Save</button>
      }
    </div>
    <div class="col-md-4"></div>
  </div>

}
